body {
    background-image: url('http://168.219.241.233/~sk08.lee/contents/image/background.jpg');
    background-size: 1920px 1080px;
    background-repeat: no-repeat;

    width: 1920px;
    height: 1080px;

    margin: 0px;
    padding: 0px;

    overflow: hidden;
}

#description {
    position: absolute;

    left: 1364px;
    top: 242px;

    width: 520px;

    font-size: 60px;
    text-align: left;
    line-height: 60px;
}

#musicVideo {
    position: absolute;

    top: 0px;

    width: 520px;

    color: #00a9ef;

    cursor: pointer;
}

#PhotoSlide {
    position: absolute;

    top: 80px;

    width: 520px;

    color: #ffffff;

    cursor: pointer;
}

#goToToast {
    position: absolute;

    top: 160px;

    width: 520px;

    color: #ffffff;

    cursor: pointer;
}

#logo {
    position: absolute;

    left: 1750px;
    top: 0px;

    width: 150px;
    height: 150px;

    cursor: pointer;

    z-index: 1000;
}

#return {
    position: absolute;

    left: 15px;
    top: 1000px;

    width: 80px;
    height: 68px;

    cursor: pointer;

    z-index: 1000;
}
