#playerDiv {
	position: absolute;

	left: 0px;
	top: 0px;

	width: 1920px;
	height: 1080px;

	background-color: #000000;
}

#loadingBar {
	position: absolute;

	left: 894px;
	top: 474px;

	width: 132px;
	height: 132px;

	z-index: 1000;

	-webkit-animation: rotation 0.8s infinite linear;
}

@-webkit-keyframes rotation {
	100% {-webkit-transform: rotate(360deg);}
}

#photoDiv {
	position: absolute;

	left: -1920px;
	top: 0px;

	width: 5760px;
	height: 1080px;
}

#slide0 {
	position: absolute;

	left: 1920px;
	top: 0px;

	width: 1920px;
	height: 1080px;

	-webkit-transition: left 2s;
}

#slide1 {
	position: absolute;

	left: 3840px;
	top: 0px;

	width: 1920px;
	height: 1080px;

	-webkit-transition: left 2s;
}

#slide2 {
	position: absolute;

	left: 0px;
	top: 0px;

	width: 1920px;
	height: 1080px;

	-webkit-transition: left 2s;
}
