@import 'https://fonts.googleapis.com/css?family=Sarala';

* {
	font-family: 'Sarala', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #F4F4F4;

	font-family: 'Sarala', sans-serif;
}

nav {
	height: 100px;
}

nav > img {
	margin-left: 10px;
	background-position: center;
}

.toast {
	width: 100%;
	background-color: #333233;
	background-size: 100%;
}

.toast > .blur {
	min-height: inherit;
	background: rgba(0,0,0,0.5);
}

.toast-pr {
	text-align: center;
}

.toast-pr div {
	margin-top: 50px;
	margin-bottom: 50px;
}

.section {
	padding-top: 120px;
}

.main-img {
	background-image: url('../assets/main_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
	height: 300px;
}

.title {
	line-height: 100px;
	font-size: 50px;
	padding-left: 20px;
}

h1 {
	padding-left: 20px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
}

h2 {
	font-weight: bold;
}

div p {
	text-align: center;
	font-size: 20px;
}